<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск</title>
</head>
<body>
<form action="/thanks">
	<br> <br><br> <br><br> <br>
    <label><p align="center" font-size:30px"> Введите запрос: <input type="text" name="sentence"> </label><br><br> <br>
    <p align="center" ><input name="method" type="radio" value="tfidf"> TF-IDF</p>
    <p align="center" ><input name="method" type="radio" value="BM25"> BM25</p>
    <p align="center" ><input name="method" type="radio" value="Fasttext"> Fasttext</p>
    <p align="center" ><input type="submit" value="Найти"></p>
</form>
</body>
</html>